<h1 *ngIf="!isChange" mat-dialog-title>Cadastro do Contribuinte</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Cadastro do Contribuinte</h1>
<div mat-dialog-content>
  <form #f="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput [(ngModel)]="data.nome"  name="nome" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="data.email" name="email" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cpf</mat-label>
      <input matInput [(ngModel)]="data.cpf" name="cpf" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input matInput [(ngModel)]="data.telefone" name="telefone" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Celular</mat-label>
      <input matInput [(ngModel)]="data.celular" name="celular" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Endereços</mat-label>
      <input matInput [(ngModel)]="data.enderecos" name="endereco" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button>Cancelar</button>
  <button type="submit" mat-button [mat-dialog-close]="data" cdkFocusInitial *ngIf="isChange">Editar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial *ngIf="!isChange" [disabled]="!f.valid">Cadastrar</button>
</div>