<h1 *ngIf="!isChange" mat-dialog-title>Cadastro do Contribuinte</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Cadastro do Contribuinte</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Telefone</mat-label>
    <input matInput [(ngModel)]="data.telefone">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Celular</mat-label>
    <input matInput [(ngModel)]="data.celular">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Endereços</mat-label>
    <input matInput [(ngModel)]="data.enderecos">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button>Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial *ngIf="isChange">Editar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial *ngIf="!isChange">Cadastrar</button>
</div>