<h1 *ngIf="!isChange" mat-dialog-title>Cadastro do Contribuinte</h1>
<h1 *ngIf="isChange" mat-dialog-title>Editar Cadastro do Contribuinte</h1>
<div mat-dialog-content>
  <form #f="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input type="text" matInput [(ngModel)]="data.nome" name="nome" required >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [(ngModel)]="data.email" email="true" name="email" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cpf</mat-label>
      <input type="text" matInput [(ngModel)]="data.cpf" mask="000.000.000-00" name="cpf" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefone</mat-label>
      <input type="text" matInput [(ngModel)]="data.telefone" mask="(000) 0000-0000" name="telefone" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Celular</mat-label>
      <input type="text" matInput [(ngModel)]="data.celular" mask="(000) 0 0000-0000" name="celular" required>
    </mat-form-field>
    <mat-label>Endereço</mat-label>
    <mat-form-field appearance="fill">
      <mat-label>Rua</mat-label>
      <input type="text" matInput [(ngModel)]="data.enderecos[0].rua" name="rua" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Número</mat-label>
      <input type="number" matInput [(ngModel)]="data.enderecos[1].numero" name="numero" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Bairro</mat-label>
      <input type="text" matInput [(ngModel)]="data.enderecos[2].bairro" name="bairro" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cidade</mat-label>
      <input type="text" matInput [(ngModel)]="data.enderecos[3].cidade" name="cidade" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cep</mat-label>
      <input type="text" matInput [(ngModel)]="data.enderecos[4].cep" mask="00.000-000" name="cep" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Estado</mat-label>
      <mat-select  name="estado" [(ngModel)]="data.enderecos[5].estado">
        <mat-option value="AC" >Acre</mat-option>
        <mat-option value="AL" >Alagoas</mat-option>
        <mat-option value="AP" >Amapá</mat-option>
        <mat-option value="AM" >Amazonas</mat-option>
        <mat-option value="BA" >Bahia</mat-option>
        <mat-option value="CE" >Ceará</mat-option>
        <mat-option value="DF" >Distrito Federal</mat-option>
        <mat-option value="ES" >Espírito Santo</mat-option>
        <mat-option value="GO" >Goiás</mat-option>
        <mat-option value="MA" >Maranhão</mat-option>
        <mat-option value="MT" >Mato Grosso</mat-option>
        <mat-option value="MS" >Mato Grosso do Sul</mat-option>
        <mat-option value="MG" >Minas Gerais</mat-option>
        <mat-option value="PA" >Pará</mat-option>
        <mat-option value="PB" >Paraíba</mat-option>
        <mat-option value="PR"  >Paraná</mat-option>
        <mat-option value="PE" >Pernambuco</mat-option>
        <mat-option value="PI" >Piauí</mat-option>
        <mat-option value="RJ" >Rio de Janeiro</mat-option>
        <mat-option value="RN" >Rio Grande do Norte</mat-option>
        <mat-option value="RS" >Rio Grande do Sul</mat-option>
        <mat-option value="RO" >Rondônia</mat-option>
        <mat-option value="RR" >Roraima</mat-option>
        <mat-option value="SC" >Santa Catarina</mat-option>
        <mat-option value="SP" >São Paulo</mat-option>
        <mat-option value="SE" >Sergipe</mat-option>
        <mat-option value="TO" >Tocantins</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Pais</mat-label>
      <input type="text" matInput [(ngModel)]="data.enderecos[6].pais" name="pais" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelar()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial *ngIf="isChange" [disabled]="!f.valid">Editar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial *ngIf="!isChange"
    [disabled]="!f.valid">Cadastrar</button>
</div>